*{
margin: 0;
padding: 0;
box-sizing: border-box;
-webkit-box-sizing:border-box;
}


#Wrapper {
    width: 100%;
    height: auto;
    background-color: white;
    overflow-x: hidden;
    
}

.responsive {
    width: 100%;
    height: 100%;
}
/* Larger Screens (PC) */
@media screen and (min-width: 1080px){

 #Logo {
position:absolute;
width: 150px;
height:150px;
left:3%;
top: -3%;
    }
        
nav{
    align-items: center;
    background-color: #93C572;
    height: 50px; 
    display: flex;
}
.clear {
    clear:both;
}
.footer {

    width: 100%;
    height: 100px;
    background-color: #93C572;

}


.header {
    height: 100px;
    width: 100%;
display: flex;
    background-color:white;
}

.links {
    text-align: left;
    margin-left: 5%;
}

ul li {
    list-style:none;
    display: inline-block;
    padding: 0px 25px;
    font-size: 150%;
    font-family: 'Fira Sans', sans-serif;
}

ul li a {
    text-decoration: none;
    color: black;
}

ul li a:hover{
    color: white;
    
}
#Name {
    font-family: 'Fira Sans', sans-serif;
    position:absolute;
    font-size: 300%;
    top: 2%;
    left:40%;
    color: black;
    text-align: center;   
    
}
#searchbar {
    position: absolute;
    left:80%;
    display:none;
}
    
#bigsearchbar {
    margin-left: 40%;
}

input {
    font-family: 'Fira Sans', sans-serif;
    font-size: 125%;
}

 nav label, #hamburger, nav2 label, #search {
    position: absolute;
    display: none;
        
}
   #socials{
   text-align: center; 
        
    }
    .fa{
        font-size: 300%;
        text-align:center;
        text-decoration:none;
        color: black;
        padding:25px;
    }
    .fa:hover{
        color:white;
    }

#constitle {
    text-align: left;
    margin-top: 3%;
    font-size: 500%;
    font-family: 'Fira Sans', sans-serif;
     margin-left: 5%;
}

#Content1 {
height: 700px;
    float:left;
margin-top: 1%;
    width:60%;
        background-color: #FFDB58;
     margin-left: 1%;
    margin-bottom: 3%;
}

#consult {
    font-size: 110%;
    font-family: 'Fira Sans', sans-serif;
    position: absolute;
    top: 70%;
    left: 3.5%;
}

#conswindow {
    text-align: left;
    font-size: 300%;
    font-family: 'Fira Sans', sans-serif;
    margin-top: 22%;
    margin-left: 3%;
    width: 100%;
}

#Content2 {
    background-color: #FDFC96;
    border-style: solid;
    border-color: #FFDB58;
    border-width: 10px;
    float:left;
    width: 35%;
    height: 608px;
    margin-left: 4%;
    margin-top: 3%;
    font-family: 'Fira Sans', sans-serif;
}


    
.PersonWords {
    background-color: #FFDB58;
    width:100%;
    height:25%;
    margin-top:5%; 
    font-size: 175%;
}
    
.PersonPicture {
    width: 25%;
    height: 25%;
    float:left;
    margin-top: 5%;
}



#consbutton {
    position: absolute;
    top: 80%;
    left: 3.5%;
}

.button {
  
    background-color: #93C572;
    border: none;
    color: black;
    display: inline-block;
    margin: 4px 2px;
    font-size: 40px;
    text-align:center;
    font-family: 'Fira Sans', sans-serif;
    padding: 15px 32px;
    cursor: pointer;
    border-style: solid;
    border-color: black;
    border-radius: 10px;

}

    
}






/* Medium Screens */
@media  screen and (min-width: 769px) and (max-width: 1079px){
    
  .clear {
    clear:both;
}
   #Logo {
position:absolute;
width: 150px;
height:150px;
left:3%;
    top: -4%;
}
    
.footer {
    position:fixed;
    width: 100%;
    height: 100px;
    background-color: #93C572;
    bottom: 0;
    top: 1;
   

}

input {
    font-family: 'Fira Sans', sans-serif;
    font-size: 150%;
}

#Name {
    font-family: 'Fira Sans', sans-serif;
    position:absolute;
    font-size: 300%;
    top: 2%;
    left:32%;
    color: black;
    text-align: center;     
}
    .header {
    height: 100px;
    width: 100%;
    display: flex;
    background-color:white;
}
    nav{
     background-color: #93C572;
        height:60px;
    }
    
    ul li {
    list-style:none;
    display: inline-block;
    padding: 0px 20px;
    font-size: 125%;
    margin-top:2%;
    font-family: 'Fira Sans', sans-serif;
}

ul li a {
    text-decoration: none;
    color: black;
}

ul li a:hover{
    color: white;
      
}
    #searchbar {
    position: absolute;
    left: 75%;
    top:33%;
    display:none;
}
    
    #bigsearchbar {
    position: absolute;
    left:70%;
    top:15%;
}
    
    input {
    font-family: 'Fira Sans', sans-serif;
    font-size: 100%;
}
    nav label, #hamburger, nav2 label, #search {
    position: absolute;
    display: none;
        
}
    #socials{
    text-align: center; 
        
        
}
    .fa{
        font-size: 300%;
        text-align:center;
        text-decoration:none;
        color: black;
        padding:25px;
    }
    .fa:hover{
        color:white;
    }
    
   #constitle {
    text-align: center;
    margin-top: 3%;
    font-size: 500%;
    font-family: 'Fira Sans', sans-serif;
}

#Content1 {
height: 500px;
margin-top: 5%;
    width:75%;
        background-color: #FFDB58;
     margin-left: 13%;
    text-align:center;
    margin-bottom: 3%;
} 
  .button {
  
    background-color: #93C572;
    border: none;
    color: black;
    display: inline-block;
    margin: 4px 2px;
    font-size: 40px;
    text-align:center;
    font-family: 'Fira Sans', sans-serif;
    padding: 15px 32px;
    cursor: pointer;
    border-style: solid;
    border-color: black;
    border-radius: 10px;

}
    #consbutton {
    position: absolute;
    top: 80%;
    left: 39%;
}
  
    #consult {
    font-size: 110%;
    font-family: 'Fira Sans', sans-serif;
    position: absolute;
    top: 60%;
    left: 33%;
    text-align: center;
}

#conswindow {
    text-align: center;
    font-size: 300%;
    font-family: 'Fira Sans', sans-serif;
    margin-top: 0%;
    width: 100%;
}
    
    #Content2 {
    background-color: #FDFC96;
    border-style: solid;
    border-color: #FFDB58;
    border-width: 10px;
    float:left;
    width: 70%;
    height: 800px;
    margin-left: 15%;
    margin-top: 2%;
    margin-bottom: 15%;
    font-family: 'Fira Sans', sans-serif;
}
    
.PersonWords {
    background-color: #93C572;
    width:100%;
    height:28%;
    margin-top:4.5%;
    font-size: 125%;
}
    
.PersonPicture {
    width: 28%;
    height: 28%;
    float:left;
    margin-top: 4.5%;
}
    
}













/* Tablet Screens */
@media  screen and (min-width: 481px) and (max-width: 768px){
    
        .clear {
    clear:both;
}
       #Logo {
position:absolute;
width: 150px;
height:150px;
left:40%;
top: -25%;
    }
       #Name {
  display: none;
    visibility: hidden;
}
 
    .footer {
    position:fixed;
    width: 100%;
    height: 100px;
    background-color: #93C572;
    bottom: 0;
   

}
    .header {
    z-index: 1;
    position:fixed;
    height: 100px;
    width: 100%;
    display: flex;
    background-color:white;
        
} 
 
    #searchbar {
    z-index: 2;
    position: fixed;
    top: 14%;
    left: 50%;
    display: none;
        width:50%;
    }
    
    
    
 input {
    font-family: 'Fira Sans', sans-serif;
   width:100%;
     font-size:150%;
     text-align: right;
     
}
    
    
  
  .links {
    text-align:left;
    display: none;
      
    
}    
    
    nav input:checked ~ .links{
        display:block;
    }
    
     nav2 input:checked ~ #searchbar{
        display:block;
    }

nav label {
        position: fixed;
        z-index: 2;
        left: 5%;
        top: 1.5%;
        display: inline-block;
        color: black;
        background: transparent;
        font-style: normal;
        font-size: 3em;
        padding: 10px;
} 
    nav2 label {
        position: fixed;
        z-index: 2;
        left: 85%;
        top: 2.5%;
        display: inline-block;
        color: black;
        background: transparent;
        font-style: normal;
        font-size: 2.8em;
        padding: 10px;
} 
    ul li a {
    font-family: 'Fira Sans', sans-serif;   
    position:fixed;
    z-index:2;
    box-sizing: border-box;
    display: block;
    width: 50%;
    border-top: 1px solid #333;
    background-color: #93C572;
    font-size: 120%;
    text-decoration: none;
    color:black;
}
    
    ul li{
         padding 10px;
        line-height: 2em;
    }
    ul{
        position:fixed;
        z-index: 3;
        top: 14%;
        
    }

ul li a:hover{
    color: white;

}
    #socials{
    text-align: center; 
        
        
    }
    .fa{
        font-size: 300%;
        text-align:center;
        text-decoration:none;
        color: black;
        padding:25px;
    }
    .fa:hover{
        color:white;
    }
    
#constitle {
    text-align: center;
    margin-top: 10%;
    font-size: 300%;
    font-family: 'Fira Sans', sans-serif;
}

#Content1 {
height: 500px;
margin-top: 5%;
    width:75%;
        background-color: #FFDB58;
     margin-left: 13%;
    text-align:center;
    margin-bottom: 3%;
} 
  .button {
  
    background-color: #93C572;
    border: none;
    color: black;
    display:inline-block;
    font-size: 30px;
    text-align:center;
    font-family: 'Fira Sans', sans-serif;
    padding: 15px 32px;
    cursor: pointer;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
}
    #consbutton {
    position: absolute;
    top: 80%;
    left: 35%;
    width: 34%;
    
}
  
    #consult {
    font-size: 100%;
    font-family: 'Fira Sans', sans-serif;
    position: absolute;
    top: 60%;
    left: 27%;
    text-align: center;
    width: 50%;
}

#conswindow {
    text-align: center;
    font-size: 300%;
    font-family: 'Fira Sans', sans-serif;
    margin-top: 0%;
    width: 100%;
}
    
    #Content2 {
    background-color: #FDFC96;
    border-style: solid;
    border-color: #FFDB58;
    border-width: 10px;
    float:left;
    width: 65%;
    height: 400px;
    margin-left: 18%;
    margin-top: 2%;
    margin-bottom: 15%;
    font-family: 'Fira Sans', sans-serif;
}
    
.PersonWords {
    background-color: #93C572;
    width:100%;
    height:25%;
    margin-top:4.5%;
    font-size: 118%;
}
    
.PersonPicture {
    width: 25%;
    height: 25%;
    float:left;
    margin-top: 4.5%;
}    
    
   
}

/* Mobile */
@media  screen and (min-width: 340px) and (max-width: 480px){
    
        .clear {
    clear:both;
    }
       #Logo {
position:absolute;
width: 150px;
height:150px;
left:40%;
top: -25%;
    }
       #Name {
  display: none;
    visibility: hidden;
}
 
    .footer {
    position:fixed;
    width: 100%;
    height: 100px;
    background-color: #93C572;
    bottom: 0;
   

}
    .header {
    z-index: 1;
    position:fixed;
    height: 100px;
    width: 100%;
    display: flex;
    background-color:white;
        
} 
 
    #searchbar {
    z-index: 2;
    position: fixed;
    top: 14%;
    left: 50%;
    display: none;
        width:50%;
    }
    
    
    
 input {
    font-family: 'Fira Sans', sans-serif;
   width:100%;
     font-size:150%;
     text-align: right;
     
}
    
    
  
  .links {
    text-align:left;
    display: none;
      
    
}    
    
    nav input:checked ~ .links{
        display:block;
    }
    
     nav2 input:checked ~ #searchbar{
        display:block;
    }

nav label {
        position: fixed;
        z-index: 2;
        left: 5%;
        top: 1.5%;
        display: inline-block;
        color: black;
        background: transparent;
        font-style: normal;
        font-size: 3em;
        padding: 10px;
} 
    nav2 label {
        position: fixed;
        z-index: 2;
        left: 85%;
        top: 2.5%;
        display: inline-block;
        color: black;
        background: transparent;
        font-style: normal;
        font-size: 2.8em;
        padding: 10px;
} 
    ul li a {
    font-family: 'Fira Sans', sans-serif;   
    position:fixed;
    z-index:2;
    box-sizing: border-box;
    display: block;
    width: 50%;
    border-top: 1px solid #333;
    background-color: #93C572;
    font-size: 120%;
    text-decoration: none;
    color:black;
}
    
    ul li{
         padding 10px;
        line-height: 2em;
    }
    ul{
        position:fixed;
        z-index: 3;
        top: 14%;
        
    }

ul li a:hover{
    color: white;

}
    #socials{
    text-align: center; 
        
        
    }
    .fa{
        font-size: 300%;
        text-align:center;
        text-decoration:none;
        color: black;
        padding:25px;
    }
    .fa:hover{
        color:white;
    }
    
#constitle {
    text-align: center;
    margin-top: 10%;
    font-size: 500%;
    font-family: 'Fira Sans', sans-serif;
}

#Content1 {
height: 500px;
margin-top: 5%;
    width:75%;
        background-color: #FFDB58;
     margin-left: 13%;
    text-align:center;
    margin-bottom: 3%;
} 
  .button {
  
    background-color: #93C572;
    border: none;
    color: black;
    display:inline-block;
    font-size: 40px;
    text-align:center;
    font-family: 'Fira Sans', sans-serif;
    padding: 15px 32px;
    cursor: pointer;
    border-style: solid;
    border-color: black;
    border-radius: 10px;

}
    #consbutton {
    position: absolute;
    top: 60%;
    left: 27.5%;
    width: 49%;
    text-align:center;
}
  
    #consult {
    font-size: 100%;
    font-family: 'Fira Sans', sans-serif;
    position: absolute;
    top: 50%;
    left: 27%;
    text-align: center;
    width: 50%;
}

#conswindow {
    text-align: center;
    font-size: 300%;
    font-family: 'Fira Sans', sans-serif;
    margin-top: 0%;
    width: 100%;
}
    
    #Content2 {
    background-color: #FDFC96;
    border-style: solid;
    border-color: #FFDB58;
    border-width: 10px;
    float:left;
    width: 65%;
    height: 400px;
    margin-left: 18%;
    margin-top: 2%;
    margin-bottom: 15%;
    font-family: 'Fira Sans', sans-serif;
}
    
.PersonWords {
    background-color: #93C572;
    width:100%;
    height:25%;
    margin-top:4.5%;
    font-size: 100%;
}
    
.PersonPicture {
    width: 25%;
    height: 25%;
    float:left;
    margin-top: 4.5%;
}     
    
    
    
}



img {
    object-fit:cover;
    
}
