*{
margin: 0;
padding: 0;
box-sizing: border-box;
-webkit-box-sizing:border-box;
}


#Wrapper {
    width: 100%;
    height: auto;
    background-color: white;
    overflow-x: hidden;
    
}

.responsive {
    width: 100%;
    height: 100%;
}
/* Larger Screens (PC) */
@media screen and (min-width: 1080px){

 #Logo {
position:absolute;
width: 150px;
height:150px;
left:3%;
top: -3%;
    }
        
nav{
    align-items: center;
    background-color: #93C572;
    height: 50px; 
    display: flex;
}
.clear {
    clear:both;
}
.footer {

    width: 100%;
    height: 100px;
    background-color: #93C572;

}


.header {
    height: 100px;
    width: 100%;
display: flex;
    background-color:white;
}

.links {
    text-align: left;
    margin-left: 5%;
}

ul li {
    list-style:none;
    display: inline-block;
    padding: 0px 25px;
    font-size: 150%;
    font-family: 'Fira Sans', sans-serif;
}

ul li a {
    text-decoration: none;
    color: black;
}

ul li a:hover{
    color: white;
    
}
#Name {
    font-family: 'Fira Sans', sans-serif;
    position:absolute;
    font-size: 300%;
    top: 2%;
    left:40%;
    color: black;
    text-align: center;   
    
}
#searchbar {
    position: absolute;
    left:80%;
    display:none;
}
    
#bigsearchbar {
    margin-left: 40%;
}

input {
    font-style: 'Fira Sans', sans-serif;
    font-size: 125%;
}

 nav label, #hamburger, nav2 label, #search {
    position: absolute;
    display: none;
        
}
   #socials{
        position:absolute;
        left:44.5%;
        align-content: center;
        
        
    }
    .fa{
        font-size: 300%;
        text-align:center;
        text-decoration:none;
        color: black;
        padding:25px;
    }
    .fa:hover{
        color:white;
    }
#Content1 {
    width: 100%;
    height: 800px;

}
}
#contitle {
    text-align: center;
    margin-top: .5%;
    margin-bottom: 2%;
    font-size: 300%;
    font-family: 'Fira Sans', sans-serif;
}

#contactform {
    background-color: #FFDB58;
    border-radius: 20px;
    width: 30%;
    height: 65%;
    font-family: 'Fira Sans', sans-serif;
    font-weight:600;
    position: absolute;
    left: 35%;
    font-size: 125%;
}





.textlabel {
    margin-top: 3%;
    margin-left: 1%;
}

.messagelabels {
    margin-top: 1%;
    margin-left: 4%;
    font-family: 'Fira Sans', sans-serif;
    font-weight:600;
    float:left;
    
}

#Messagein {
    height: 300px;
    font-family: 'Fira Sans', sans-serif;
    font-weight:400;
    font-size: 120%;
}
.button {
    background-color: #93C572;
    border: none;
    color: black;
    display: inline-block;
    margin: 4px 2px;
    font-size: 40px;
    text-align:center;
    font-style: 'Fira Sans', sans-serif;
    padding: 15px 32px;
    cursor: pointer;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
}
#honey {
      display:none;
}
#contbutton{
    position: absolute;
    top: 80%;
    left: 3.5%;
}
}
