*{
margin: 0;
padding: 0;
box-sizing: border-box;
-webkit-box-sizing:border-box;
}


#Wrapper {
    width: 100%;
    height: auto;
    background-color: white;
    overflow-x: hidden;
    
}

.responsive {
    width: 100%;
    height: 100%;
}
/* Larger Screens (PC) */
@media screen and (min-width: 1080px){
.courseitem {
    width: 250px;
    height: 90%;
    padding: 10px;
}

.courseitem:hover {
    padding: 2px;
    filter: brightness(80%);
}



 #Logo {
position:absolute;
width: 150px;
height:150px;
left:3%;
top: -3%;
    }
        
nav{
    align-items: center;
    background-color: #93C572;
    height: 50px; 
    display: flex;
}
.clear {
    clear:both;
}
.footer {

    width: 100%;
    height: 100px;
    background-color: #93C572;

}


.header {
    height: 100px;
    width: 100%;
display: flex;
    background-color:white;
}

.links {
    text-align: left;
    margin-left: 5%;
}

ul li {
    list-style:none;
    display: inline-block;
    padding: 0px 25px;
    font-size: 150%;
    font-family: 'Fira Sans', sans-serif;
}

ul li a {
    text-decoration: none;
    color: black;
}

ul li a:hover{
    color: white;
    
}
#Name {
    font-family: 'Fira Sans', sans-serif;
    position:absolute;
    font-size: 300%;
    top: 2%;
    left:40%;
    color: black;
    text-align: center;   
    
}
#searchbar {
    position: absolute;
    left:80%;
    display:none;
}
    
#bigsearchbar {
    margin-left: 40%;
}

input {
    font-style: 'Fira Sans', sans-serif;
    font-size: 125%;
}

 nav label, #hamburger, nav2 label, #search {
    position: absolute;
    display: none;
        
}
   #socials{
        position:absolute;
        left:44.5%;
        align-content: center;
        
        
    }
    .fa{
        font-size: 300%;
        text-align:center;
        text-decoration:none;
        color: black;
        padding:25px;
    }
    .fa:hover{
        color:white;
    }

#Content1 {
    height: 900px;
    float:left;
margin-top: 1%;
    width:100%;
    
}


#courserow1 {
    background-color: yellow;
}

.row {
     width: 100%;
    height: 30%;
    display: flex;
    margin-bottom: 1.5%;
}

#classtitle {
    width: 100%;
    margin-top: 1%;
    text-align: center;
     font-family: 'Fira Sans', sans-serif;
    font-size: 500%;
}

#courserow2 {
    background-color: red;
}

#courserow3 {
    background-color: green;
}

    
    
#class1 {
    margin-left: 4%;
}

#class2 {
    margin-left: 26%;
}

#class3 {
    margin-left: 24%;
}

#class4 {
    margin-left: 4%;
}

#class5 {
    margin-left: 26%;
}

#class6 {
    margin-left: 24%;
}
    
#class7 {
    margin-left: 4%;
}
#class8 {
    margin-left: 26%;
}

#class9 {
    margin-left: 24%;
}


    
    

.coursename {
    font-size: 150%;
    font-family: 'Fira Sans', sans-serif;
    text-align:center;
    font-weight: bolder;
}
